.hello {
  font-weight: bold;
}

.ui-menu-item-wrapper {
  width: 100%;
  display: block;
}

footer {
  border-top: 1px solid #eeeeee;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}
form {
  width: 100%;
}